.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: min-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
  min-width: 140px;
}

.black {
  background-color: var(--mainBlack);
}

.green {
  background-color: var(--mainGreen);
}

.brown {
  background-color: #bea087;
}

.red {
  background: #f34a7c;
}
.darkBlue {
  background: #315594;
}
